---
import AboutMe from "./AboutMe.astro";

const today = new Date();
---

<footer>
	<div class="container">
        <AboutMe
	</div>

    <div class="copyright">
        &copy; {today.getFullYear()} Kenny Taylor.
    </div>
</footer>

<style>
    footer {
        padding: 4em 2em;
        background-color: #1a1a1a;
        color: #fff;
        display: flex;
    }

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2em;
        justify-content: flex-start;

	}
    @media (max-width: 768px) {
        .about-section {
            flex-direction: column;
            align-items: center;
        }

        .about-image-container {
            width: 200px;
            height: 200px;
        }
    }
</style>

<script>
    const aboutContainer = document.querySelector('.about-image-container');
    const aboutContent = document.querySelector('.about-content');

    aboutContainer?.addEventListener('click', () => {
        aboutContent?.classList.toggle('visible');
    });
</script>